@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Edition";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
          crossorigin="anonymous" />
    <title>Edição de usuário</title>
</head>
<body>
    <main>
        <table class="table table-responsive table-hover caption-top">
            <caption>
                List of users
            </caption>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Data de Nascimento</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Endereço</th>
                    <th scope="col">Cidade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Maria da Silva</td>
                    <td>26/10/1990</td>
                    <td>Rua São Paulo, 999</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </main>


    <div class="text-center">
        <h1 style="text-align:center; padding-top:40px;"><b>Edição de usuário</b></h1>
        <form action="/Home/Edition" method="post">
            <div style="display:block">
                <label>Qual usuário deseja editar?</label>
            </div>
            <div style="display:block;">
                <label>Nome</label>
                <br />
                <input type="text" value="@ViewBag.name" name="name" placeholder="Nome">
            </div>
            <div>
                <label>Data de nascimento</label>
                <br />
                <input type="date" value="@ViewBag.birthdate" name="birthdate">
            </div>
            <div>
                <label>CPF</label>
                <br />
                <input type="text" value="@ViewBag.cpf" name="cpf" placeholder="CPF">
            </div>
            <div>
                <label>Endereço</label>
                <br />
                <input type="text" value="@ViewBag.address" name="address" placeholder=Endereço>
            </div>
            <div>
                <label>Cidade</label>
                <br />
                <input type="text" value="@ViewBag.city" name="city" placeholder="Cidade">
            </div>

        </form>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</html>





