@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using DesafioCSharp_Teylor.Models;
@{
    ViewData["Title"] = "Show";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
          crossorigin="anonymous" />
    <title>Lista de usuários</title>
</head>
<body>
    @{
        UserDAL userdal = new UserDAL();
        User user = new User();

        var usuarios = userdal.GetAll();

    }
    <main class="align-content-lg-center">
        <form action="/Home/Show" method="post">
            <h2 style="margin-top:48px;">Usuários</h2>
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <input checked type="radio" name="id" value="" />
                        </th>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Data de Nascimento</th>
                        <th scope="col">CPF</th>
                        <th scope="col">Endereço</th>
                        <th scope="col">Cidade</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in usuarios)
                        {
                            <tr>
                                <td>
                                    <input checked type="radio" name="id" value="" />
                                </td>
                                <th scope="row">@item.id</th>
                                <td>@item.Name</td>
                                <td>@item.Birthdate</td>
                                <td>@item.CPF</td>
                                <td>@item.Address</td>
                                <td>@item.City</td>
                                <td>
                                    <button type="submit" name="delete" value="Deletar">Deletar</button>
                                    <input type="hidden" name="delete" value="@ViewBag.delete" />
                                </td>
                            </tr>
                        }

                    }

                </tbody>
            </table>
        </form>
    </main>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/d09559d1bd.js%22%3E></script>
</html>